/* :root {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
} */

[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link:focus,
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #001f3f !important;
}

/* https://stackoverflow.com/a/48705668 */
.tooltip .arrow-top-warning::before {
  border-top-color: var(--warning);
}
.tooltip .arrow-right-warning::before {
  border-right-color: var(--warning);
}
.tooltip .arrow-bottom-warning::before {
  border-bottom-color: var(--warning);
}
.tooltip .arrow-left-warning::before {
  border-left-color: var(--warning);
}

/* List table row */
.list-row {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*#region Sticky Column */
.sticky-no {
  /* Background color */
  background-color: #ffffff;

  /* Outline */
  outline: 1px solid #e9ecef;

  /* Stick to the left */
  left: 0px;
  position: sticky;

  /* Displayed on top of other rows when scrolling */
  z-index: 10;
}

.sticky-first {
  /* Background color */
  background-color: #ffffff;

  /* Outline */
  outline: 1px solid #e9ecef;

  /* Stick to the left */
  left: 40px;
  position: sticky;

  /* Displayed on top of other rows when scrolling */
  z-index: 10;
}
/* #endregion */

.main-banner img {
  display: grid;
  min-width: 350px; /*  Do not resize to smaller than this. */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Using this so the image can be any size and */
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.triangle {
  position: relative;
  background: #f0d4a1;
  height: 50vh;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #f0d4a1 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
